<div class="row">
  <div class="col-xs-12">

    <img src="{{SelectedRecipe?.imagepath}}" class="img-responsive"/>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{SelectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addShopingList()">To Shoping List </button>
    <button class="btn btn-primary" (click)="onEdit()">Edit </button>
    <button class="btn btn-danger" (click)="onDelete()">Delete </button>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <p> {{SelectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of SelectedRecipe?.ingredients">{{item.name}}(({{item.amount}}))</li>
    </ul>
  </div>
</div>